main {
    width: 1440px; margin: 0 auto; } /* 전체 넓이 1440px */
main .contents {width: 1200px; display: flex; letter-spacing: -0.3px; background-color: #FFEBCD;} 
/* 자간 -0.3px 피그마 개발자모드값 */
main .contents .product1 {margin-right: 66px; } 
main .contents .product1_top {}
main .contents .product1_top p 
{margin-bottom: 13px; width: 356px; padding-bottom: 13px; border-bottom: 1px solid #000;}
main .contents .product1_top a img {margin-bottom: 13px; margin-top: 53px;} 
main .contents .product1_top h1 {margin-bottom: 13px; font-size: 16px; }
main .contents .product1_top p em {
    font-weight: bold; 
}
main .contents .product1_mid {
    display: flex; margin-bottom: 13px; justify-content: space-between }
main .contents .product1_mid .size { }
main .contents .product1_mid .review{}
main .contents .product1_bottom {display: flex;}
main .contents .product1_bottom p{
    margin-bottom: 13px; border:1px solid #000; padding: 5px;
    margin-right: 10px; color: #CE1F1F; background-color: #000;
}